#square {
    width: 120;
    height: 120;
    background-color: blue;
}
#square2 {
    width: 120;
    height: 120;
    background-color: rgb(25, 187, 52);
}
#square2 {
    width: 120;
    height: 120;
    background-color: rgb(216, 25, 51);
}
